body {
    display: grid;
    grid-template-columns: auto;
}

header {
    text-align: center;
    grid-row-start: 1;
}

.maincontainer {
    grid-row-start: 2;
    height: 400px;
    display: grid;
    grid-template-columns: 50%;
    grid-column-gap: 2px;
}

.infocontainer {
    padding: 2px;
    border: 2px solid black;
}

.outputcontainer {
    grid-column-start: 2;
    text-align: center;
    border: 2px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    text-align: center;
    grid-row-start: 3;
}